<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">

    <title>Weather App</title>
</head>

<body>
    <div class="box_logo">
        <div class="titulo"> MyWeatherApp</div>

    </div>

    <script>
        function validarFormulario() {
            var lugar = document.getElementById("input_lugar").value;
            if (lugar === "") {
                alert("Por favor, insira o nome do local.");
                return false; // Impede o envio do formulário
            }
        }
    </script>




    <div class="caixa_bg">
        <form action="/previsao" method="post" onsubmit="return validarFormulario()">
            <input type="text" class="input_lugar" id="input_lugar" name="lugar_inserido"
                placeholder="Digite o local...">
            <button class="botao_busca" type="submit">

                <img class="icone_busca" alt="icone-lupa" src="static/icone/lupa.png">

            </button>
        </form>

        {% if not lugar%}
        <div class="boasvindas">
            <div class="boasvindas2">
                <img class="icone_sol" alt="icone-sol" src="static/icone/sol.png">
                <p class="mensagem-bem-vindo-1">Ola!</p>
            </div>
            <p class="mensagem-bem-vindo-2">Insira acima, o nome de algum lugar, para verificar a previsão.</p>
        </div>

        {% else %}
        <div class="caixa_bg2">
            {% if erro %}
            <div class="caixa_erro">
                <p class="mensagem_erro">{{erro}}</p>
                <img class="icone_erro" alt="icone-erro" src="static/icone/botao-x.png">
            </div>
            {% else %}
            <h2 class="Local">Tempo em {{lugar}}, {{country}}</h2>

            <p class="Temperatura">{{temp}}°C</p>

            <div class="texto_icone">
                <p class="texto_previsao">{{descricao}}</p>
                <img class="icone_nuvem" alt="icone-nuvem" src="https://openweathermap.org/img/wn/{{icone1}}.png">
            </div>


            <p class="umidade">Umidade: {{umidade}}%</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>

</html>